# plantilla pública de variables de entorno del frontend
# copia este archivo como .env (local) o .env.production (prod) y rellena con tus valores

# url del backend rust (API REST)
# local: http://localhost:8000
# producción: https://tu-dominio.com
NEXT_PUBLIC_API_URL=http://localhost:8000

# url del websocket
# local: ws://localhost:8000
# producción: wss://tu-dominio.com
NEXT_PUBLIC_WS_URL=ws://localhost:8000