# Archivos generados por Rust
**/target/

# Archivos de respaldo
**/*.rs.bk
*.swp

# Variables de entorno y secretos
.env
.env.local
.env.production
.env.*.local
.env.*.production

# Configuración del editor
.idea
.vscode
*.iml
*.iws

# Archivos del SO
.DS_Store
Thumbs.db

# base de datos
*.sql

# Docker
infrastructure/docker-compose.prod.yml