version: "3.8"

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_network

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - backend_network

  app:
    build:
      context: ../backend
    ports:
      - "8000:8000"
    environment:
      APP_ENVIRONMENT: local
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
      - redis
    networks:
      - backend_network

networks:
  backend_network:

volumes:
  postgres_data: